#battle_select {
	float: right;
	width: 300px;
	margin: 5px;
	padding: 5px;
}

#content {
	width: 90%;
	margin: 10px;
}

.entity {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.entity .data {
	width: 500px;
	float: left;
}

.entity .attributes {
	float: left;
	width: 210px;
	padding: 0px 10px;
	margin-right: 10px;
}

.labels {
	float: right;
}

#add_entity {
	max-width: 400px;
}

.progress {
	margin-bottom: 5px;
	margin-top: 5px;
}

.side {
	float: left;
}

.hit-form, .data-form {
	margin-bottom: 0px;
}

.clear {
	clear: both;
}

.dead {
	text-decoration: line-through;
}

.log {
	padding: 2px;
	margin: 2px;
}

.log p {
	margin: 0px;
	color: #999;
	font-size: 0.9em;
	line-height: 1.4em;
}
